<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<!-- meta -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Travel Guide</title>

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/ionicons.min.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="assets/js/html5shiv.js"></script>
				<script src="assets/js/respond.js"></script>
			<![endif]-->

			<!--[if IE 8]>
		    	<script src="assets/js/selectivizr.js"></script>
		    <![endif]-->
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html" title="HOME"><i class="ion-paper-airplane"></i> travel <span>guide</span></a>
			</div> <!-- /.navbar-header -->

	    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="about.html">about</a></li>
					<li><a href="services.html">services</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul> <!-- /.nav -->
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container -->
	</nav>

<!-- Home -->
		<div id="header">
		    <div class="flexslider">
		        <ul class="slides">
		            <li class="slider-item" style="background-image: url('/static/images/item-1.png')">
		                <div class="intro container">
		                    <div class="inner-intro">
		                        <h1 class="header-title">
		                            <span>traveling</span> always "good idea"
		                        </h1>
		                        <p class="header-sub-title">
		                            it leaves you speecless, then turns your into a storyteller.
		                        </p>
		                    </div>
		                </div>
		            </li> <!-- /.slider-item -->
		            <li class="slider-item" style="background-image: url('/static/images/item-2.png')">
		                <div class="intro">
		                    <div class="inner-intro">
		                        <h1 class="header-title">
		                            to <span>travel</span> is to <span>live</span>
		                        </h1>
		                        <p class="header-sub-title">
		                            it leaves you speecless, then turns your into a storyteller.
		                        </p>
		                    </div>
		                </div>
		            </li> <!-- /.slider-item -->
		        </ul> <!-- /.slides -->
		    </div> <!-- /.flexslider -->
		</div> <!-- /#header -->
<!-- Find a Tour -->
	<section class="tour section-wrapper container">
		<h2 class="section-title">
			Find a Tour
		</h2>
		<p class="section-subtitle">
			Where would you like to go?
		</p>
		<div class="col-md-3 col-sm-6">
			<div class="input-group">
				<input type="text" class="form-control border-radius border-right" placeholder="Minimum Weather"/>
				<span class="input-group-addon border-radius custom-addon">
					<i class="weather"></i>
				</span>
			</div>
		</div>
			<div class="col-md-3 col-sm-6">
				<div class="input-group">
					<input type="text" class="form-control border-radius border-right" placeholder="Maximum Weather"/>
					<span class="input-group-addon border-radius custom-addon">
						<i class="weather"></i>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="input-group">
					<input type="text" class="form-control border-radius border-right" placeholder="Departure Date"/>
					<span class="input-group-addon border-radius custom-addon">
						<i class="ion-ios-calendar"></i>
					</span>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="input-group">
					<input type="text" class="form-control border-radius border-right" placeholder="Arrival Date"/>
					<span class="input-group-addon border-radius custom-addon">
						<i class="ion-ios-calendar"></i>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="btn btn-default border-radius custom-button">
					<button id="search_btn">Find the city</button>
					<p id="demo"></p>
					where's input
				</div>
			</div>
		</div>
	</section> <!-- /.tour -->
<!-- Start Fixed Background IMG -->
<div class="fixed-background">

	<div class="row text-light py-5">
		<div class="col text-center">
			<h1>Advanced to the next level</h1>
			
			<h3 class="py-4"> see what is on the other side</h3>
			
			<button type="button" data-toggle="modal" data-target="#modal1"
					class="btn btn-primary btn-lg mr-2">Blue Pill</button>
			
			<button type="button" data-toggle="modal" data-target="#modal1"
					class="btn btn-danger btn-lg mr-2">Red Pill</button>
		</div>
	</div>
	<div class="fixed-wrap">
		<div class="fixed"></div>
	</div>
</div>

	<!-- Find a Tour -->
<section class="tour section-wrapper container">
	<h2 class="section-title">
		Find a Tour
	</h2>
	<p class="section-subtitle">
		Where would you like to go?
	</p>
	<div class="col-md-3 col-sm-6">
		<div class="input-group">
			<input type="text" class="form-control border-radius border-right" placeholder="Minimum Price"/>
			<span class="input-group-addon border-radius custom-addon">
				<i class="price"></i>
			</span>
		</div>
	</div>
		<div class="col-md-3 col-sm-6">
			<div class="input-group">
				<input type="text" class="form-control border-radius border-right" placeholder="Maximum Price"/>
				<span class="input-group-addon border-radius custom-addon">
					<i class="price"></i>
				</span>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="input-group">
				<input type="text" class="form-control border-radius border-right" placeholder="Rating"/>
				<span class="input-group-addon border-radius custom-addon">
					<i class="price"></i>
				</span>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="btn btn-default border-radius custom-button">
				Find Airbnb
			</div>
		</div>
	</div>
</section> <!-- /.tour -->
<!-- Our Blazzing offers -->
	<section class="offer section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Our Blazzing offers
			</h2>
			<p class="section-subtitle">
				Let us help you find the most affordable options for you
			</p>
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-social-euro"></i>
						</div>
						<h3>
							Affordable Pricing
						</h3>
						<p>
							Most affordable options
						</p>
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="col-sm-4 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-ios-home"></i>
						</div>
						<h3>
							Best Ratings
						</h3>
						<p>
							Find the options with the best ratings 
						</p>
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="col-sm-4 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-ios-locked"></i>
						</div>
						<h3>
							Highest Security
						</h3>
						<p>
							Places with high security to keep you and your family safe
						</p>
					</div>
				</div> <!-- /.col-md-4 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.offer -->


<!-- Top place to visit -->
	<section class="visit section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Photo gallery
			</h2>
			<p class="section-subtitle">
				Some of the best destinations to offer you
			</p>
				<!-- Image Carousel -->
	<div id="carousel" class="carousel slide" data-ride="carousel"
	data-interval="6500">

	<!-- Carousel Content -->
	<div class="carousel-inner">
			
		<div class="carousel-item active">
			<img src="/static/images/visit-1.png" alt="visit-1" class="w-100">
			<img src="/static/images/visit-2.png" alt="visit-2" class="w-100">
			<img src="/static/images/visit-3.png" alt="visit-3" class="w-100">
			<div class="carousel-caption">
				<div class="container"></div>
		</div> <!-- /.container -->
	</section> <!-- /.visit -->
			<!-- Previous & Next Buttons -->
			<a href="#carousel" class="carousel-control-prev" role="button"
			data-slide="prev">
				<span class="fas fa-chevron-left fa-2x"></span>
			</a>
	
			<a href="#carousel" class="carousel-control-next" role="button"
			data-slide="next">
				<span class="fas fa-chevron-right fa-2x"></span>
			</a>
			<!-- End Previous & Next Buttons -->
	
		</div>
		<!-- End Image Carousel -->

	<!-- Additional-services -->
	<section class="additional-services section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Our Recommendations
			</h2>
			<p class="section-subtitle">
				Some of the best activites recommended for you
			</p>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="/static/images/add-srvc-1.png" alt="" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Photography
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="/static/images/add-srvc-2.png" alt="" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Cycling
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->
				
				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="/static/images/add-srvc-3.png" alt="" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Waking
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="/static/images/add-srvc-4.png" alt="" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Skiing
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="/static/images/add-srvc-5.png" alt="" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Sea beach
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="/static/images/add-srvc-6.png" alt="" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Hill tracking
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.Additional-services -->

	<div class="subscribe section-wrapper">
		<a class="brand-logo" href="index.html" title="HOME"><i class="ion-paper-airplane"></i> Travel <span>Guide</span></a>
		<p class="subscribe-now">
			Subscribe to our Newsletter
		</p>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
					<div class="input-group">
						<input type="email" class="form-control border-radius" placeholder="Email address">
						<span class="input-group-btn">
							<button class="btn btn-default border-radius custom-sub-btn" type="button">DONE</button>
						</span>
					</div><!-- /input-group -->
				</div>
			</div>
		</div>
					
	
	
		<ul class="social-icon">
			<li><a href="#"><i class="ion-social-twitter"></i></a></li>
			<li><a href="#"><i class="ion-social-facebook"></i></a></li>
			<li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
			<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
		</ul>
	</div> <!-- /.subscribe -->

		
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div class="text-left">
						&copy; Copyright Travel Guide
					</div>
				</div>
				<div class="col-xs-4">
					<div class="top">
						<a href="#header">
							<i class="ion-arrow-up-b"></i>
						</a>
					</div>
				</div>
			</div>
		</div>		
	</footer>


	<script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/jquery.flexslider.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="../app_test.js"></script>






</body>
</html>